 <!-- Bredcrumb Start  -->
@inject ProximaClaims.Services.IHelper Myhelper
<section class="container-fluid breadcrumb">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">About us</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="">Home</a></li>
                <li><span class="breadcrumb-entry">About Us</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- Bredcrumb End  -->
<!-- Main Section Start  -->
<section class="container-fluid">
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h2>@Myhelper.GetProjectInfo("BillingName")</h2>
            <p class="widget-paragrapg">We are here to manage your revenue cycle and increase your receivables so that you and your staff can focus on patient care and quality health service.</p>
            <img src="assets/img/about-gap.png" alt="" class="mt-3 about-gap">
        </div>
        <div class="row">
            <div class="col-12 col-md-6 widget-content">
                <p>Our professionals use the most current and efficient protocols available on the market to handle your billing needs! Below are some examples to give you an idea of why @Myhelper.GetProjectInfo("BillingName") should be your billing partner: our billing team is experienced and qualified to submit flawless claims to avoid payment delays, patient loss, or diminishing your profit margin. We are fully HIPAA compliant and understand how to explain the self-pay portion of a medical bill to patient.</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="assets/img/female-doctor.png" alt="" class="about-single-img">
            </div>
        </div>
        <div class="row mt-5 mission-and-vision">
            <div class="col-12 col-md-6 d-grid">
                <div class="d-flex gap-4">
                    <i class="bi bi-plus-square-dotted"></i>
                    <div>
                        <h2>Mission</h2>
                        <p>To increase reimbursement to our clients through high-quality medical billing and coding with expertise, integrity, and compassion while allowing providers to focus on patient care</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-grid">
                <div class="d-flex gap-4">
                    <i class="bi bi-bar-chart"></i>
                    <div>
                        <h2>Vision</h2>
                        <p>Extraordinary services, and best-in-class customer service while adhering to the principles of compliance, commitment and integrity</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Section End  -->
<!-- Why Us Section Start -->
<section class="container-fluid why-us">
    <div class="container">
        <div class="heading text-center pt-5 pb-5">
            <h3>WHY US</h3>
            <h2>WE STAND BEHIND OUR COMMITMENT</h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-bar-chart"></i>
                        </div>
                        <div class="text">
                            <h2>Increase Revenue</h2>
                            <p>Weekly & Monthly Analytical reports with a Daily Summary add transparency to the overall proces</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-cash"></i>
                        </div>
                        <div class="text">
                            <h2>Multi-Specialty Billing</h2>
                            <p>We offer Billing Services for all Medical Specialties</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <div class="text">
                            <h2>Denial Handling</h2>
                            <p>Pro-active & rigorous handling of denied claims with frequent follow-ups and Appeals</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <div class="text">
                            <h2>Flexible Pricing</h2>
                            <p>We offer multiple pricing plans that suit your monthly revenue</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="text">
                            <h2>Dedicated Team</h2>
                            <p>We believe that 80% of success depends on having the right people in the team.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <div class="text">
                            <h2>Bigger Savings</h2>
                            <p>We believe that 80% of success depends on having the right people in the team.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Us Section End -->
<!-- Team Up Section Start  -->
<section class="container-fluid team-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6"></div>
            <div class="col-12 col-md-6">
                <div class="what-we-offer d-grid">
                    <span>Like What We Offer?</span>
                    <h2>Lets Team Up</h2>
                    <span>to start a new project.</span>
                    <div class="d-grid">
                        <a href="/Home/ContactUs" class="btn contact-us-btn">Contact Us <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Up Section End  -->