  @inject ProximaClaims.Services.IHelper Myhelper
<section class="container-fluid contact-us-sec">
    <div class="container">
      <div class="row d-flex justify-content-center gap-3">
        <div class="col-12 col-md-5">
          <span>Any questions?</span>
          <h2>Request a call-back to get a free audit of your Practice!</h2>
                <form class="row g-3" action="/Home/SaveContact">
            <div class="col-md-6">
              <input type="email" required class="form-control" name="Email" id="inputEmail4" placeholder="Your email*">
            </div>
            <div class="col-md-6">
                        <input type="number" required class="form-control" name="Phone" id="phone" placeholder="Phone number...">
            </div>
            <div class="col-12">
                        <input type="text" required class="form-control" placeholder="Practice Name" name="Practice">
            </div>
            <div class="col-12">
                        <input type="text" class="form-control" placeholder="Website" name="Website">
            </div>
            <div class="col-12">
                        <input type="text" class="form-control" placeholder="Approximate revenue collection per month" name="Revenue">
            </div>
            <div class="col-12">
                        <input type="text" class="form-control" placeholder="Claim submission frequency per month" name="ClaimPerMonth">
            </div>
            <div class="col-12">
                        <textarea required class="form-control" placeholder="Message..." name="Message"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn get-quote">Get a Quote</button>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-5">
          <div class="custom-care">
            <h4>Need professional Medical billing services? Let’s discuss this with us!</h4>
          </div>
          <div class="opening-time">
            <div class="d-flex gap-3">
              <i class="bi bi-headphones"></i>
              <p>24/7 hours customer support</p>
            </div>
            <div class="d-flex gap-3">
              <i class="bi bi-hand-thumbs-up"></i>
              <p>
                100% Customer Satisfaction</p>
            </div>
          </div>
         @* <div class="contact-number">
            <div class="d-flex gap-3">
              <i class="bi bi-telephone"></i>
              <div class="pt-2">
                <span>Call us for information</span>
                <a href="tel:">@Myhelper.GetProjectInfo("Phone")</a>
              </div>
            </div>
          </div>*@
        </div>
      </div>
    </div>
  </section>