  <!-- Bredcrumb Start  -->
<section class="container-fluid breadcrumb">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Medical Billing</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="">Home</a></li>
                <li><a class="breadcrumb-entry" href="">Services</a></li>
                <li><span class="breadcrumb-entry">Medical Billing</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- Bredcrumb End  -->
 <!-- Billing Section Start -->
<section class="container mt-4 our-service">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-12 col-md-8 col-lg-6 mt-2">
            <div class="heading">
                <h3>We are Known For</h3>
                <h2>The Best Medical Billing Services</h2>
            </div>
            <div class="text">
                <p>Florence medical billing (FMB) is a medical billing company that offers comprehensive medical billing services to healthcare providers in the united states to increase their revenue, streamline workflow, and optimize the patient experience while fully adhering to HIPAA regulations.</p>
                <p>We serve a wide range of diverse healthcare entities covering from a single physician, medium-sized practices to multi-speciality large practices</p>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6 mt-2 billing-img">
            <img src="~/assets/img/billing.jpg" alt="">
        </div>
    </div>
</section>
<!-- Billing Section End -->
<!-- Why Us Section Start -->
<section class="container-fluid why-us">
    <div class="container">
        <div class="heading text-center pt-5 pb-5">
            <h3>WHY US</h3>
            <h2>WE STAND BEHIND OUR COMMITMENT</h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-bar-chart"></i>
                        </div>
                        <div class="text">
                            <h2>Increase Revenue</h2>
                            <p>Weekly & Monthly Analytical reports with a Daily Summary add transparency to the overall proces</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-cash"></i>
                        </div>
                        <div class="text">
                            <h2>Multi-Specialty Billing</h2>
                            <p>We offer Billing Services for all Medical Specialties</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <div class="text">
                            <h2>Denial Handling</h2>
                            <p>Pro-active & rigorous handling of denied claims with frequent follow-ups and Appeals</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <div class="text">
                            <h2>Flexible Pricing</h2>
                            <p>We offer multiple pricing plans that suit your monthly revenue</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="text">
                            <h2>Dedicated Team</h2>
                            <p>We believe that 80% of success depends on having the right people in the team.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <div class="text">
                            <h2>Bigger Savings</h2>
                            <p>We believe that 80% of success depends on having the right people in the team.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Us Section End -->
<!-- Key Feature Section Start -->
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-10 col-lg-6 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/Average-Montly-Collection-768x402.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-6  border-0">
                <div class="img">
                    <img src="~/assets/img/female-doctor.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Key Feature Section End -->
<!-- Call Section Start -->
<section class="container-fluid call-section">
    <div class="container">
        <div class="d-grid d-md-flex justify-content-between">
            <div class="text">
                <h2>
                    <span>Choose Florence Medical Billing to Double Grow Your Revenue</span>
                </h2>
                <p>We support you in managing your billing services to let you focus on patient-centered care while managing, retaining, and attracting new customers.</p>
            </div>
            <div class="button">
                <a href="" class="btn talk-expert">
                    <i class="bi bi-telephone-forward"></i>
                    TALK TO AN EXPERT
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Call Section End -->
<!-- Services Section Start -->
<section>
    <div class="container-fluid our-services text-center">
        <div class="container-fluid our-services-fluid">
            <div class="container">
                <div class="row about-counter">
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-person"></i>
                                    <h3>150 +</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Employees</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-bar-chart"></i>
                                    <h3>98 %</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Clean Claim Rate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-person-plus"></i>
                                    <h3>100 +</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Providers Served</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-heart"></i>
                                    <h3>50 +</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Specialties Served</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Services Section End -->