  <!-- Bredcrumb Start  -->
@inject ProximaClaims.Services.IHelper Myhelper
<section class="container-fluid breadcrumb">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Pricing plan</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="">Home</a></li>
                <li><span class="breadcrumb-entry">Pricing Plan</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- Bredcrumb End  -->
<!-- Pricing Section Start  -->
<section class="container-fluid contact-us-sec">
    <div class="container mt-5 text-center">
        <div class="row">
            <h2>BILLING FEE 1ST YEAR – 2.99% – BILLING FEE 2ND YEAR – 3.99% (SHALL REMAIN CAPPED)</h2>
            <p>Eligibility verification:</p>
            <p> money, reduce time, and improve service with our automated and manual eligibility verification. We spend more time behind the scenes, so you and your staff can spend more time serving your client’s needs and building your practice</p>
        </div>
        <div class="row d-flex justify-content-center gap-3 mt-5">
            <div class="col-12 col-md-10 col-lg-6 pricing-plan">
                <div class="card">
                    <div class="card-header">
                        <div class="icon">
                            <i class="bi bi-cash"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="heading text-center pt-4 pb-4">
                            <h2>Complete Revenue Cycle Management</h2>
                            <p>@Myhelper.GetProjectInfo("BillingName")</p>
                        </div>
                        <ul>
                            <li>
                                <i class="bi bi-check"></i>
                                <span>Get all your eligibility request needs and payer responses quickly and accurately as our professionals are fully equipped to handle the benefits your practice requires.</span>
                            </li>
                            <li>
                                <i class="bi bi-check"></i>
                                <span> Be well suited to identify primary care providers and other medical coverage for current and expanded needs.</span>
                            </li>
                            <li>
                                <i class="bi bi-check"></i>
                                <span>Minimize costly claims rejections as a result of insurance verification errors</span>
                            </li>
                            <li>
                                <i class="bi bi-check"></i>
                                <span>Collect from patients at the point of care as we determine the patient’s financial contribution by obtainin</span>
                            </li>
                        </ul>
                        <div class="btn">
                            <a href="" class="btn choose-plan">
                                Choose Plan
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-5 mt-2">
                <div class="custom-care">
                    <h4>Need professional Medical billing services? Let’s discuss this with us!</h4>
                </div>
                <div class="opening-time">
                    <div class="d-flex gap-3">
                        <i class="bi bi-headphones"></i>
                        <p>24/7 hours customer support</p>
                    </div>
                    <div class="d-flex gap-3">
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>
                            100% Customer Satisfaction
                        </p>
                    </div>
                </div>
                <div class="contact-number">
                    <div class="d-flex gap-3">
                        <i class="bi bi-telephone"></i>
                        <div class="pt-2">
                            <span>Call us for information</span>
                            <a href="tel:">@Myhelper.GetProjectInfo("Phone")</a>
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        
                        <div class="pt-2">
                           
                            <a href="mailto:@Myhelper.GetProjectInfo("InfoEmail")" class="btn"><i class="flaticonv5 flaticonv5-email"></i>Mail us</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End  -->

