@inject ProximaClaims.Services.IHelper Myhelper
<!-- Bredcrumb Start  -->
<section class="container-fluid breadcrumb">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Credentialing & Enrollment</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="">Home</a></li>
                <li><a class="breadcrumb-entry" href="">Services</a></li>
                <li><span class="breadcrumb-entry">Credentialing & Enrollment</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- Bredcrumb End  -->
<!-- Billing Section Start -->
<section class="container mt-4 our-service">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-12 col-md-12 col-lg-12 mt-2">
            <div class="heading">
               
                <h2>CREDENTIALING & ENROLLMENT</h2>
                <br />
            </div>
            <div class="text">
                <p class="text-center">@Myhelper.GetProjectInfo("BillingName") can handle Credentialing for any specialty. Our credentialing experts send error-free applications to all insurance companies and do timely and proper follow-ups till the applications are finalized. Our first-time application acceptance ratio is ~97%. We can assist you in establishing your setups with insurance companies for electronic claim submissions, rejections, eligibility, payment information, denials and fund transfer.</p>
            </div>
        </div>
       
    </div>
</section>
<!-- Billing Section End -->
<!-- Why Us Section Start -->

<!-- Why Us Section End -->
<!-- Key Feature Section Start -->
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-12 col-lg-12 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/CredentialM.png" alt="">
                </div>
            </div>
       
        </div>
    </div>
</section>
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-12 col-lg-12 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/CredentialM2.png" alt="">
                </div>
            </div>
       
        </div>
    </div>
</section>
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-12 col-lg-12 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/Credential3.png" alt="">
                </div>
            </div>
       
        </div>
    </div>
</section>
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-12 col-lg-12 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/Credential4.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-12 col-lg-12 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/CredentialM5.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
