@inject ProximaClaims.Services.IHelper Myhelper
<!-- Bredcrumb Start  -->
<section class="container-fluid breadcrumb">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Medical Coding</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="">Home</a></li>
                <li><a class="breadcrumb-entry" href="">Services</a></li>
                <li><span class="breadcrumb-entry">Medical Coding</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- Bredcrumb End  -->
<!-- Billing Section Start -->
<section class="container mt-4 our-service">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-12 col-md-8 col-lg-6 mt-2">
            <div class="heading">
                <h2>Optimise Revenue Cycle with State of the Art Medical Coding</h2>
                <br />
            </div>
            <div class="text">
                <p>
                    Get medical coding done right the first time and improve your practice’s revenue cycle management.

                </p>
                <p>
                    Proxima’s reliable coding department offers a list of source and tools for simple and intuitive medical coding..

                </p>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6 mt-2 billing-img">
            <img src="~/assets/img/MedicalCoding.png" alt="">
        </div>
    </div>
</section>
<!-- Billing Section End -->
<!-- Why Us Section Start -->

<!-- Why Us Section End -->
<!-- Key Feature Section Start -->
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-10 col-lg-6 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/MedicalCoding3.PNG" alt="">
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-6  border-0">
                <div class="img">
                    <img src="~/assets/img/MedicalCoding2.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Key Feature Section End -->
<!-- Call Section Start -->
<section class="container-fluid call-section">
    <div class="container">
        <div class="d-grid d-md-flex justify-content-between">
            <div class="text">
                <h2>
                    Discover How Timely Reimbursements are 
                    <br />
                    Possible With Accurate Coding
                </h2>
                <p>Our team of medical coders closely works with our billers to help speed up the process to get claims out to payers quickly..</p>
            </div>
            <div class="button">
                <a href="" class="btn talk-expert">
                    <i class="bi bi-telephone-forward"></i>
                    TALK TO AN EXPERT
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Call Section End -->
<!-- Services Section Start -->
<section>
    <div class="container-fluid our-services text-center">
        <div class="container-fluid our-services-fluid">
            <div class="container">
                <div class="row about-counter">
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body" style="height: 134px">
                                <div class="text-center d-grid">
                                    <i class="bi bi-person"></i>
                                    <h3>Certified Coders</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body" style="height: 134px">
                                <div class="text-center d-grid">
                                    <i class="bi bi-bar-chart"></i>
                                    <h3>Increased Reimbursement</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body" style="height: 134px">
                                <div class="text-center d-grid">
                                    <i class="bi bi-person-plus"></i>
                                    <h3>Coding Audits<br /></h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body" style="height: 134px">
                                <div class="text-center d-grid">
                                    <i class="bi bi-heart"></i>
                                    <h3>Cost Effective<br /></h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Services Section End -->