@inject ProximaClaims.Services.IHelper Myhelper
<!-- Bredcrumb Start  -->
<section class="container-fluid breadcrumb">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Medical Billing</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="">Home</a></li>
                <li><a class="breadcrumb-entry" href="">Services</a></li>
                <li><span class="breadcrumb-entry">Medical Billing</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- Bredcrumb End  -->
<!-- Billing Section Start -->
<section class="container mt-4 our-service">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-12 col-md-8 col-lg-6 mt-2">
            <div class="heading">
                <h3>We are Known For</h3>
                <h2>The Best Medical Billing Services</h2>
                <br />
            </div>
            <div class="text">
                <p>@Myhelper.GetProjectInfo("BillingName") is a medical billing company that offers comprehensive medical billing services to healthcare providers in the united states to increase their revenue, streamline workflow, and optimize the patient experience while fully adhering to HIPAA regulations.</p>
                <p>We serve a wide range of diverse healthcare entities covering from a single physician, medium-sized practices to multi-speciality large practices</p>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6 mt-2 billing-img">
            <img src="~/assets/img/billing.jpg" alt="">
        </div>
    </div>
</section>
<!-- Billing Section End -->
<!-- Why Us Section Start -->
<section class="container-fluid why-us">
    <div class="container">
        <div class="heading text-center pt-5 pb-5">
            <h2>Key Features of Medical Billing Services</h2>
            <h5>Our billing professionals use the most current and efficient protocols available on the market! Below are some examples to give you an idea of why ProximaClaims should be your billing partner.</h5>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-bar-chart"></i>
                        </div>
                        <div class="text">
                            <h2>Error-Free Charge Entry</h2>
                            <p>To ensure approval of claim upon first time submission, our billers enter detailed and error-free charges. We take the demographics and charge info for each patient.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-cash"></i>
                        </div>
                        <div class="text">
                            <h2>Real-Time Insurance Verification</h2>
                            <p>We confirm every patient’s insurance eligibility upfront to streamline the process, shorten account receivable time, and avoid denials.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <div class="text">
                            <h2>Claim Submission and Scrubbing</h2>
                            <p>Our billing experts and scrubbing process make sure that clean claims are submitted. If there are any rejections after corrections, re-submission is done the same day.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <div class="text">
                            <h2>Payment Posting</h2>
                            <p>ERAs and EOBs verification and on time posting is ensured while the remaining balances are posted to the patient's account.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="text">
                            <h2>Patient Statements</h2>
                            <p>Once the appropriate payment from all payers is confirmed, if the remaining balance is owed by a patient, a detailed statement is generated and sent to the patient showing the due amount.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center mb-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <div class="text">
                            <h2>Follow-Up & Appeals</h2>
                            <p>In case of a claim denial, our A/R experts work on the reason of denial to resolve the issue and re-process the due payment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Us Section End -->
<!-- Key Feature Section Start -->
<section class="container-fluid service-key-features">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-10 col-lg-6 border-0">
                <div class="img mt-5">
                    <img src="~/assets/img/Average-Montly-Collection-768x402.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-6  border-0">
                <div class="img">
                    <img src="~/assets/img/female-doctor.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Key Feature Section End -->
<!-- Call Section Start -->
<section class="container-fluid call-section">
    <div class="container">
        <div class="d-grid d-md-flex justify-content-between">
            <div class="text">
                <h2>
                    <span>Choose @Myhelper.GetProjectInfo("BillingName") to Double Grow Your Revenue</span>
                </h2>
                <p>We support you in managing your billing services to let you focus on patient-centered care while managing, retaining, and attracting new customers.</p>
            </div>
            <div class="button">
                <a href="" class="btn talk-expert">
                    <i class="bi bi-telephone-forward"></i>
                    TALK TO AN EXPERT
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Call Section End -->
<!-- Services Section Start -->
<section>
    <div class="container-fluid our-services text-center">
        <div class="container-fluid our-services-fluid">
            <div class="container">
                <div class="row about-counter">
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-person"></i>
                                    <h3>150 +</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Employees</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-bar-chart"></i>
                                    <h3>98 %</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Clean Claim Rate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-person-plus"></i>
                                    <h3>100 +</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Providers Served</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-grid">
                                    <i class="bi bi-heart"></i>
                                    <h3>50 +</h3>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">Specialties Served</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Services Section End -->